/* login.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020f6;
    box-shadow: 0 15px 25px rgba(24, 24, 24, 0.1);
    border-radius: 10px;
    width: 416px;
    padding: 35px;
    font-size: 14px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-bottom: .7rem;
    background-color: #f0f0f0;
    padding: 10px 10px 10px 18px;
    color: #333;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 5px;
}

.login input::after {
    margin-left: 1rem;
}

.login label {
    color: #f0f0f0;
}

.labels {
    margin-bottom: 8px;
}

.logo-img {
    margin-bottom: .3rem;
    width: 80px;
    height: auto;
}

.logo-text {
    color: #f0f0f0;
    margin-bottom: 1.3rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

input::placeholder {
    background-color: #f0f0f0;
    font-size: 14px;
}

form [type="submit"] {
    box-shadow: 0px 1px 10px #007bffa6;
    display: block;
    height: 45px;
    background-color: #007bff;
    color: #d6d6d6;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px 10px 10px 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.entrar {
    margin-top: 1rem;
}

form [type="submit"]:hover {
    background-color: #0056b3;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px; /* Ajuste conforme necessário */
    align-items: center;
}

.remember-forgot label input {
    margin: 0;
    margin-right: 5px;
}

.remember-forgot label{
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 5em;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px; /* Espaçamento entre os elementos */
}

.register-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-top: 1rem;
}

.register-text {
    color: #f0f0f0;
}

.register-redirect {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px; /* Espaçamento entre os elementos */
}

.mensagemforgot {
    align-items: start;
    color: #f0f0f0;
    margin-top: .3rem;
    margin-bottom: .2rem;
}