* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}

#header {
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .2rem 3.8rem;
}

.char {
    display: flex;
    justify-content: start;
    margin-top: 6rem;
    margin-left: 2rem;
}

.char-text {
    font-weight: 500;
    font-size: 1.4rem;
}

.conteudo-site {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.texto-intro {
    color: white;
    text-align: center;
    letter-spacing: .1rem;
}

#img-intro {
    margin-top: 2rem;
    width: 180px;
}

.btn-core {
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: .72rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #A347FF;
    text-decoration: none;
    width: fit-content;
}

.divisoria {
    color: #1d1d1d;
    margin: 0 auto;
    width: 85%;
    line-height: 1.6;
    border-top: 1px solid;
}

.espacamento {
    margin-top: 3rem;
}

.tit-ficha {
    color: white;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    text-decoration: underline;
    text-decoration-color: #a347ff;
}

.text-ficha {

}

.block {
    margin-left: 4rem;
}

.agentes{
    margin: 4rem 0 2rem 0;
    font-size: 20px;
}

.new-agent {
    display: flex;
    justify-content: end;
    padding: 2rem;
}

.no-decoration{
    text-decoration: none;
}

.steps {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.step {
    font-size: 25px;
    font-weight: 500;
}

.meia-pagina1 {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.meia-pagina2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-left: 4rem;
}

.meia-pagina3 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.step1 {
    font-size: 24px;
    text-align: justify;
}

.atributos {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.atributo {
    color: white;
    height: 30px;
    width: 30px;
}

.atributo-input {
    width: 30px;
    border: none;
    margin-left: .7rem;
    background-color: rgb(129, 129, 129);
    color: white;
    padding-left: 8px;
}

.text1 {
    margin: 1rem 6rem;
    font-size: 16px;
    text-align: justify;
}

.text2 {
    margin: 1rem 6rem;
    font-weight: 600;
    font-size: 16px;
    text-align: justify;
}

.jogador-label {
    color: white;
    margin: 0 1rem .4rem 2rem;
}

.jogador-input {
    color: #1d1d1d;
    margin: 0 1rem .4rem 2rem;
    padding: .2rem;
    border-radius: 2px;
    border: none;
    padding: .4rem;
}

.jogador-input:focus {
    outline: none;
}

.card-origem {
    background-color: #474747;
    margin: 1.5rem 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-origem p{
    margin: .8rem;
    text-align: justify;
}
.reta {
    display: flex;
    justify-content: space-between;
}

.escolher-origem {
    height: 70%;
}

.origem-nome {
    font-size: 2rem;
    font-weight: 500;
}

.toques-finais {
    display: flex;
    margin-left: 4rem;
}

.toques-finais button {
    height: 50%;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 6rem;
}