* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}

#header {
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: .5rem 0;
}

.char {
    display: flex;
    justify-content: start;
    margin-top: 6rem;
    margin-left: 2rem;
}

.char-text {
    font-weight: 500;
    font-size: 1.4rem;
}

