* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(155, 138, 138);
    background-image: url(../img/background-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    padding: .5rem 0;
}
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}


#perfil {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #333;
    padding: 1em;
    border-radius: 5px;
}