* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}

#header {
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .2rem 3.8rem;
}

#logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #d6d6d6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

#perfil {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #333;
    padding: 1em;
    border-radius: 5px;
}

.no-decoration {
    text-decoration: none;
}