* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}

#header {
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .2rem 3.8rem;
}

.no-decoration {
    text-decoration: none;
}

p {
    color: white;
}

td {
    color: white;
}

th{
    color: white;
}

td th{
    padding-left: 20px;
}

.atributos {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.atributo {
    color: white;
    height: 30px;
    width: 30px;
}

.atributo-input {
    width: 30px;
}

.underline-input {
    border: none;
    background-color: transparent;
    border-bottom: solid white 1px;
    color: white;
    
}

.underline-input:focus {
    outline: none;
}

.input-unidade {
    padding-left: 10px;
}

.input-dezena {
    
}

.inputNumberOutros input{
    background: transparent;
    width: 32px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
    height: 34px;
    margin: .2rem;
    -webkit-appearance: none;
    padding-left: .5rem;
    color: white;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}   

.inputNumberOutros input:focus {
    outline: none;
}

.comboBoxNex {
    overflow: hidden;
    background: none;
    background-color: transparent;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.comboBoxNex select {
    background: transparent;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    height: 20px;
    -webkit-appearance: none;
    margin: .2rem;
    padding-left: .5rem;
}

.comboBoxNex option {
    background-color: rgb(12, 12, 12);
    color: white;
    border: 0;
}

.comboBoxTreino{
    width: 15px;
    height: 32px;
    overflow: hidden;
    background: none;
    background-color: transparent;
}

.comboBoxTreino select {
    background: transparent;
    width: 32px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    margin: .2rem;
    padding-left: .5rem;
}

.comboBoxTreino option {
    background-color: rgb(12, 12, 12);
    color: white;
    border: 0;
}



.txtLabelPericia{
}

.infosGerais label{
    color: white;
}

.infosGerais input{
    
}

.infosGerais{
    display: flex;
    margin: 2rem 4rem;

}


.listaSelecionarParte{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 30vw;
    gap: .7rem;
}

.partes{
    display: flex;
    color: white;

}

.esquerda{
    padding: 1rem 1rem 1rem 0;
    width: 28vw;
    margin-left: 4rem;
}

.direita{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.meio{
    padding: 1rem;
    width: 20vw;
}

.botaoAdicionar{
    width: 80%;
    height: 3rem;
}

.subDireita{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 300px;
    margin: 0 auto;
  }
  
.agilidade {
    position: absolute;
    top: 10px;
    left: 10px;
}

.força {
    position: relative;
    top: 50px;
}

.intelecto {
    position: absolute;
    top: 100px;
    right: 10px;
}

.vigor {
    position: relative;
    bottom: 50px;
}

.presença {
    position: absolute;
    bottom: 100px;
    left: 10px;
}

#addAtaque {
    
}

#addHabilidade {
    width: max-content;
}

.popup {
    z-index: 999;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Adicionei um fundo escuro para melhorar a legibilidade */
    padding: 100%;
    border-radius: 10px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.linhadiv {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.linhadiv input {
    margin-left: .2rem;
    margin-right: .2rem;
}

.InputsPeRodada {
    width: 1rem;
}

.sNex {
    
}

.InputsDeslocamento:disabled{
    background-color: white;
    color: black;
}

.flexdivrow {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.status-label{
    margin-right: .3rem;
}

.Inputquadrado {
    outline: none;
    border: 1px white solid;
}

.Inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    color: white;
    background-color: transparent;
    padding: .1rem .2rem .1rem .5rem;
}

.Inputs:disabled {
    width: 2.3rem;
    color: white;
    border-bottom: 1px solid white;
    outline: 0;
    background-color: transparent;
    padding: .1rem .2rem .1rem .45rem;
}

.partes select {
    background-color: transparent;
    color: white;
    outline: none;
}

.InputsDefesa {
    margin-bottom: .1rem;
}
.InputsBloqueio {
    margin-bottom: .1rem;
}
.InputsEsquiva {
    margin-bottom: .1rem;
}

.statusdef {
    padding-top: 5rem;
}

.btn-core {
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: .72rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #A347FF;
    text-decoration: none;
    width: fit-content;
}

.poder-paranormal {
    background-color: rgb(53, 53, 53);
    margin-top: 1.2rem;
    padding: .6rem;
}

.limite-de-itens {
    width: 1.4rem;
    margin-left: .5rem;
    padding: .3rem;
}

.texto-cinza {
    color: gray;
}
