/* aaaaaaaaaaaaaaaaa.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: .4rem;
}

#header {
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .2rem 3.8rem;
}

.no-decoration {
    text-decoration: none;
}

p {
    color: white;
}

td {
    color: white;
}

th{
    color: white;
}

td th{
    padding-left: 20px;
}

.meio {
    height: 33%;
}

.atributos {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.atributo {
    color: white;
    height: 30px;
    width: 30px;
}

.atributo-input {
    width: 30px;
    border: none;
    margin-left: .7rem;
    background-color: rgb(129, 129, 129);
    color: white;
    padding-left: 8px;
}

.inputNumberOutros input{
    width: 2rem;
    border: 1px solid black;
}

.comboBoxTreino{

}

.txtLabelPericia{
}

.infosGerais label{
    color: white;
}

.infosGerais input{
    
}




.infosGerais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0;

}


.listaSelecionarParte{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.partes{
    display: flex;
    justify-content: center;
    color: white;

}

.esquerda, .meio, .direita{
    width: 24%;
}

.esquerda{
    padding: 1rem;
}

.direita{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.botaoAdicionar{
    width: 80%;
    height: 3rem;
}

.subDireita{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 300px;
    margin: 0 auto;
  }
  
.agilidade {
    position: absolute;
    top: 10px;
    left: 10px;
}

.força {
    position: relative;
    top: 50px;
}

.intelecto {
    position: absolute;
    top: 100px;
    right: 10px;
}

.vigor {
    position: relative;
    bottom: 50px;
}

.presença {
    position: absolute;
    bottom: 100px;
    left: 10px;
}

.popup {
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Adicionei um fundo escuro para melhorar a legibilidade */
    padding: 100%;
    border-radius: 10px;
}
